<div class="formulario">
  <h3>CITAS MEDICAS</h3>
  <form [formGroup]="formGroupEmail">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email"/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="buscarUsuario()" [disabled]="formGroupEmail.invalid" >BUSCAR USUARIO</button>
  </form>
  <br>
  <div *ngIf="usuario.idusuario!=null">
    <mat-card>
      <mat-card-content>{{usuario.idusuario}} | {{usuario.firstName}}{{usuario.lastName}} | {{usuario.email}}</mat-card-content>
    </mat-card>
    <br>
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha" min="{{date}}" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <input type="time" class="form-control" formControlName="hora" style="background: #f5f5f5; border-radius: 4px; padding: 8px 12px; width: 90%; font-size: 14px; color: #757575; margin-bottom: 5px">
      <mat-form-field appearance="fill">
        <mat-label>Especialidad</mat-label>
        <mat-select formControlName="especialidad">
          <mat-option [value]="'Medicina General'">Medicina General</mat-option>
          <mat-option [value]="'Nutricionista '">Nutricionista </mat-option>
          <mat-option [value]="'Odontología'">Odontología</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Observación" formControlName="observacion"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="guardarCita()" [disabled]="formGroup.invalid" >GUARDAR CITA</button>
    </form>
  </div>
</div>
