<div class="formulario">
  <h3>CITAS MEDICAS</h3>
  <div>
    <mat-card>
      <mat-card-content>{{formGroup.getRawValue().usuarios?.idusuario}} | {{formGroup.getRawValue().usuarios?.firstName}}{{formGroup.getRawValue().usuarios?.lastName}} | {{formGroup.getRawValue().usuarios?.email}}</mat-card-content>
    </mat-card>
    <br>
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <input type="time" class="form-control" formControlName="hora" style="background: #f5f5f5; border-radius: 4px; padding: 8px 12px; width: 90%; font-size: 14px; color: #757575; margin-bottom: 5px">
      <mat-form-field appearance="fill">
        <mat-label>Especialidad</mat-label>
        <mat-select formControlName="especialidad">
          <mat-option [value]="'Medicina General'">Medicina General</mat-option>
          <mat-option [value]="'Nutricionista '">Nutricionista </mat-option>
          <mat-option [value]="'Odontología'">Odontología</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Observación" formControlName="observacion"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="guardarUsuario()" >ACTUALIZAR CITA</button>
    </form>
  </div>
</div>
<div class="lista">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="idcita">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idcita}} </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Numero </th>
      <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha | date:'EEEE, MMMM d, y'}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="especialidad">
      <th mat-header-cell *matHeaderCellDef> Especialidad </th>
      <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="observacion">
      <th mat-header-cell *matHeaderCellDef> Observacion </th>
      <td mat-cell *matCellDef="let element">{{element.observacion}}</td>
    </ng-container>

    <!-- Eliminar Column -->
    <ng-container matColumnDef="usuarios">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element">{{element.usuarios?.firstName}} {{element.usuarios?.lastName}}</td>
    </ng-container>

    <!-- Eliminar Column -->
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button color="warn" (click)="eliminarCitas(element.idcita)">Eliminar</button></td>
    </ng-container>

    <!-- Editar Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" (click)="actualiazarUsuario(element)">EDITAR</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
