<div class="formulario">
  <h3>USUARIOS</h3>
  <form [formGroup]="formGroup">
   <table>
     <tr>
       <td>
         <mat-form-field>
           <input matInput placeholder="First Name" formControlName="firstName" />
         </mat-form-field>
         <mat-form-field>
           <input matInput placeholder="Last Name" formControlName="lastName" />
         </mat-form-field>
         <mat-form-field>
           <input matInput placeholder="Age" formControlName="age" type="number" />
         </mat-form-field>
         <mat-form-field>
           <input matInput placeholder="Email" formControlName="email" type="email" />
         </mat-form-field>
         <button mat-raised-button color="primary" *ngIf="dataSource.length!=0" (click)="guardarUsuario()" [disabled]="formGroup.invalid">Guardar</button>

         <button mat-raised-button color="accent" *ngIf="dataSource.length==0" style="margin-left: 10px" (click)="agregarUsuaios()">AGREGAR USUARIOS INICIALES</button>
       </td>
       <td>
         <img src="{{formGroup.getRawValue().image}}" formControlName="image" style="width:200px;height:200px;border-radius:50%;border:2px solid black;">
         <input type="file" name="imagen" accept="image/*" style="width: 150px; height: 150px;" (change)="subirImagen($event.target.files)">
       </td>
     </tr>
   </table>
  </form>
</div>
<div class="tabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idusuario}} </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> FirstName </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> LastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" width="100"> </td>
    </ng-container>

    <!-- Eliminar Column -->
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button color="warn" (click)="eliminarUsuario(element.idusuario)">Eliminar</button></td>
    </ng-container>

    <!-- Editar Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" (click)="actualiazarUsuario(element)">EDITAR</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


