<div *ngIf="logero==true">
  <mat-toolbar color="primary">
    <span>PRUEBA PRACTICA</span>
    <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="'usuarios'">
      Usuarios
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="'citas'">
      Citas
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="'listarcitas'">
      Listar Citas
    </button>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="logero==false" class="sesion">
  <span>INICIO DE SESION</span>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput placeholder="Usuario" formControlName="userName">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña" formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="inicarSesion()">Iniciar sesión</button>
  </form>
</div>

